<!-- embed-youtube.html.ejs -->
<div 
    <% 
    if (typeof embedClass !== 'undefined' && embedClass) {
        %> class="<%= embedClass %> framed-video-player embed-responsive embed-responsive-16by9" <%
    }
    if (typeof style !== 'undefined' && style) {
        %> style="<%= style %>" <%
    }
    if (typeof id !== 'undefined' && id) {
        %> id="<%= id %>" <%
    } 
    %> >
    <% if (typeof title !== 'undefined' && title) { %>
        <h3><%= title %></h3>
    <% } %>

    <div style="clear: both;"><iframe src="<%= embedURL %>" type="text/html"></iframe></div>

    <% if (typeof partialBody !== 'undefined') { %>
        <div>
        <%- partialBody %>
        </div>
    <% } %>
</div>